.titulo{
  font-family: "Lucida Handwriting";
  font-variant: small-caps;
}

.view{
  font-variant: small-caps;
}

.descricao{
  text-align: justify;
}

.login{
  background-image: url('../img/bg.jpg');
}

.logo{
  text-align: center;
  margin-top: 45%;
}
.logo h3{
  font-size: 45px;
  font-family: "Lucida Handwriting";
}

.botao-footerfb{
  text-align: center;
  margin-top: 52%;
  width: 90%;
  margin-left: 5%;
}

.botao-footer{
  text-align: center;
  margin-top: 28%;
  width: 90%;
  margin-left: 5%;
}

.tituloLogin{
  text-align: center;
  margin-top: 25%;
}

.submit{
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}


.profile-item {
  text-align: center;
}

.profile-picture {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  overflow: hidden;
}

.profile-picture img {
  width: 128px;
  border-radius: 100%;
}

.profile-name {
  padding-top: 20px;
  font-size: x-large !important;
  font-weight: bold !important;
  text-transform: capitalize;
}
