<ion-view cache-view="false" class="view login">
  <ion-content scroll="false">
    <div class="logo">
      <h3>Segue-me M/D</h3>
      <p>Sou Seguidor, a boa nova vou Levar ♫</p>
    </div>
    <div class="botao-footerfb">
      <a class="button button-block button-positive" ng-click="loginFacebook('facebook')">
        <i class="icon ion-social-facebook"></i> &nbsp;
        Entrar com o Facebook
      </a>
      <div>
        Não Possui Facebook?
        <a href="#/login" class="subdued">
          Clique Aqui!
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
